/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Body Element */
body {
  background-color: #d9dcd6;
}
/* Header Element */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* H1 element */
h1 {
  display: inline-block;
  font-size: 48px;
}
/* Seo class styling*/
.seo {
  color: #d9dcd6;
}
/* Nav element styling */
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* Unordered List element styling */
ul {
  list-style-type: none;
}
/* List element styling */
li {
  display: inline-block;
  margin-left: 25px;
}
/* Link element style */
a {
  color: #ffffff;
  text-decoration: none;
}
/* Paragraph element style */
p {
  font-size: 16px;
}
/* Image element styling if children of hero class */
.hero img {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

/* float-left class style */
.float-left {
  float: left;
  margin-right: 25px;
}

/* float-right class style */
.float-right {
  float: right;
  margin-left: 25px;
}

/* content class style */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* benefits class style */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Benefit lead, benefit brand, benefit cost style */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* h3 styling for children of benefit classes */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* image element styling for children of benefit classes */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* search engine optimization, online-reputation management, social media marketing class stylings */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* images elements that are children of the above classes */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}

/* h2 element styling, if children of seo, online rep mgmt, and social media mrkt classes */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* footer styling */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* h2 children of the footer styling */
footer h2 {
  font-size: 20px;
}
